doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title HTTP - Cycle.js DEMO
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous")
        link(rel="stylesheet" href="app.css")
    body
        nav.navbar.navbar-dark.bg-dark(style="margin-bottom: 32px;")
            a.navbar-brand(href="#")
                img.d-inline-block(src="https://cycle.js.org/img/cyclejs_logo.svg" width="30" height="30" style="margin-right: 8px")
                |Cycle.js DEMO
        #app
        script(src="app.js")
